<div class="widget-wrap">
    <h3 class="widget-title">Promotions</h3>
    <div class="widget">
        <a href="http://s.click.aliexpress.com/e/pYQIViey?bz=160*600" target="_parent"><img width="160" height="600" src="https://ae01.alicdn.com/kf/HTB1L9ecX1ySBuNjy1zd760PxFXaj/EN_160_600.png"/></a>
    </div>
</div>